#loading { 
	/* Fallback for web browsers that doesn't support RGBa */ 
	background: rgb(0, 0, 0) transparent; 
	/* RGBa with 0.6 opacity */ 
	background: rgba(0, 0, 0, 0.6); 
	/* For IE 5.5 - 7*/ 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); 
	/* For IE 8*/ 
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	text-align: center;
}
#loading img{
    position: relative;
	top: 40%;
	font-weight: bold;
}
